* {
	box-sizing: border-box;
}

body {
	background-color: #f5deb3;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	background-image: linear-gradient(
			328deg,
			rgba(29, 29, 29, 0.05) 0%,
			rgba(29, 29, 29, 0.05) 25%,
			rgba(226, 226, 226, 0.05) 25%,
			rgba(226, 226, 226, 0.05) 50%,
			rgba(21, 21, 21, 0.05) 50%,
			rgba(21, 21, 21, 0.05) 75%,
			rgba(216, 216, 216, 0.05) 75%,
			rgba(216, 216, 216, 0.05) 100%
		),
		linear-gradient(
			172deg,
			rgba(0, 0, 0, 0.05) 0%,
			rgba(0, 0, 0, 0.05) 25%,
			rgba(108, 108, 108, 0.05) 25%,
			rgba(108, 108, 108, 0.05) 50%,
			rgba(21, 21, 21, 0.05) 50%,
			rgba(21, 21, 21, 0.05) 75%,
			rgba(236, 236, 236, 0.05) 75%,
			rgba(236, 236, 236, 0.05) 100%
		),
		linear-gradient(
			207deg,
			rgba(153, 153, 153, 0.05) 0%,
			rgba(153, 153, 153, 0.05) 25%,
			rgba(83, 83, 83, 0.05) 25%,
			rgba(83, 83, 83, 0.05) 50%,
			rgba(5, 5, 5, 0.05) 50%,
			rgba(5, 5, 5, 0.05) 75%,
			rgba(82, 82, 82, 0.05) 75%,
			rgba(82, 82, 82, 0.05) 100%
		),
		linear-gradient(
			297deg,
			rgba(26, 26, 26, 0.05) 0%,
			rgba(26, 26, 26, 0.05) 25%,
			rgba(223, 223, 223, 0.05) 25%,
			rgba(223, 223, 223, 0.05) 50%,
			rgba(232, 232, 232, 0.05) 50%,
			rgba(232, 232, 232, 0.05) 75%,
			rgba(153, 153, 153, 0.05) 75%,
			rgba(153, 153, 153, 0.05) 100%
		),
		linear-gradient(
			204deg,
			rgba(120, 120, 120, 0.05) 0%,
			rgba(120, 120, 120, 0.05) 25%,
			rgba(191, 191, 191, 0.05) 25%,
			rgba(191, 191, 191, 0.05) 50%,
			rgba(246, 246, 246, 0.05) 50%,
			rgba(246, 246, 246, 0.05) 75%,
			rgba(123, 123, 123, 0.05) 75%,
			rgba(123, 123, 123, 0.05) 100%
		),
		linear-gradient(90deg, rgb(32, 234, 255), rgb(37, 116, 255));
	color: #6D0000;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 1em;
}

header a:link {
	text-decoration: none;
	color: #6D0000;
}
header a:visited {
	color: #6D0000;
}
header a:hover {
	color: #90c7e3;
}

h1 {
	text-align: center;
	font-size: 1.5em;
}

nav {
	font-size: 1.2em;
	text-align: center;
	background-color: #6D0000;
}

nav a {
	text-decoration: none;
}

nav a:link {
	color: #5c7fa3;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #a52a2a;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

nav li {
	padding: 0.5em 1em;
	width: 100%;
	border-bottom: 1px solid;
	background-color: #f5deb3;
}

main {
	padding: 0 1em;
}

main a {
	text-decoration: none;
}

main a h3 {
	color: #a52a2a;
}

main a p {
	color: black;
}

section {
	margin: .5em;
	padding: 0 .5em;
	border: .5px solid #6D0000;
	box-shadow: 5px 5px grey;
}

footer {
	text-align: center;
	font-size: 0.7em;
	font-style: italic;
	padding: 3em 1em 1em 1em;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.tableDiv {
	overflow-x: auto;
}

tr{
	border-bottom: 1px solid black;
}

th {
	background-color: #6D0000;
	color: #f5deb3;
}

th, td {
	text-align: left;
	padding: .5em;
}

img {
	border: #6D0000 1px solid;
	margin-bottom: 5px;
}

#wrapper {
	background-color: #f5deb3;
}

.articleName {
	font-size: 3em;
	border-bottom: .5em solid #6D0000;
}

.sectionName {
	font-size: 30px;
}

.subSectionName {
	font-size: 20px;
}

#tab_grp_1 ul {
	list-style: none;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
}

#tab_grp_1 li {
	padding: 15px 10px;
	border-radius: 5px;
	width: 80px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: 1px 1px 3px #6D0000;
}

#tab_grp_1 li.active1,
#tab_grp_1 li:hover {
	background: #6D0000;
	color: #f5deb3;
}

#tab_grp_2 ul {
	list-style: none;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
}

#tab_grp_2 li {
	padding: 10px 15px;
	border-radius: 5px;
	min-width: 80px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: 1px 1px 3px #6D0000;
}

#tab_grp_2 li.active2,
#tab_grp_2 li:hover {
	background: #6D0000;
	color: #f5deb3;
}

#tab_grp_3 ul {
	list-style: none;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
}

#tab_grp_3 li {
	padding: 10px 15px;
	border-radius: 5px;
	min-width: 80px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease;
	box-shadow: 1px 1px 3px #6D0000;
}

#tab_grp_3 li.active3,
#tab_grp_3 li:hover {
	background: #6D0000;
	color: #f5deb3;
}


div {
	box-sizing: border-box;
}

.table-container {
	display: block;
	margin: 1em auto;
	width: 90%;
}

.flex-table {
	display: flex;
	flex-flow: row wrap;
	border-bottom: solid 1px black;
}

.header {
	background-color: #6D0000;
	color: #f5deb3;
}

.flex-row {
	width: calc(100%/7);
	text-align: center;
	padding: .5em .5em;
}


@media all and (max-width: 769px) {
	.flex-row {
		font-size: 12px;
	}
}


@media all and (max-width: 430px) {
	nav li {
		background-color: #6D0000;
	}
	nav a {
		text-decoration: none;
	}
	
	nav a:link {
		color: #f5deb3;
	}
	nav a:visited {
		color: #f5deb3;
	}

	.flow-row {
		font-size: 10px;
	}

	.tab {
		font-size: 12px;
	}
}

@media (min-width: 600px) {
	h1 {
		font-size: 2em;
		letter-spacing: 0.25em;
	}

	nav ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-right: 2em;
	}

	nav li {
		width: 12em;
		border: 1px solid;
	}

	section {
		padding: 0 1em;
	}

	#flow {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#featList {
		column-count: 3;
	}

	.flow-item {
		flex: 0 0 33.333333%;
		margin: 1em 20px;
	}
}

@media (min-width: 1024px) {
	body {
		background-image: radial-gradient(
				circle at center center,
				transparent 0%,
				rgb(0, 0, 0) 85%
			),
			linear-gradient(
				78deg,
				rgba(192, 192, 192, 0.05) 0%,
				rgba(192, 192, 192, 0.05) 50%,
				rgba(60, 60, 60, 0.05) 50%,
				rgba(60, 60, 60, 0.05) 100%
			),
			linear-gradient(
				227deg,
				rgba(97, 97, 97, 0.05) 0%,
				rgba(97, 97, 97, 0.05) 50%,
				rgba(52, 52, 52, 0.05) 50%,
				rgba(52, 52, 52, 0.05) 100%
			),
			linear-gradient(
				240deg,
				rgba(98, 98, 98, 0.05) 0%,
				rgba(98, 98, 98, 0.05) 50%,
				rgba(249, 249, 249, 0.05) 50%,
				rgba(249, 249, 249, 0.05) 100%
			),
			linear-gradient(
				187deg,
				rgba(1, 1, 1, 0.05) 0%,
				rgba(1, 1, 1, 0.05) 50%,
				rgba(202, 202, 202, 0.05) 50%,
				rgba(202, 202, 202, 0.05) 100%
			),
			linear-gradient(
				101deg,
				rgba(61, 61, 61, 0.05) 0%,
				rgba(61, 61, 61, 0.05) 50%,
				rgba(254, 254, 254, 0.05) 50%,
				rgba(254, 254, 254, 0.05) 100%
			),
			linear-gradient(
				176deg,
				rgba(237, 237, 237, 0.05) 0%,
				rgba(237, 237, 237, 0.05) 50%,
				rgba(147, 147, 147, 0.05) 50%,
				rgba(147, 147, 147, 0.05) 100%
			),
			linear-gradient(
				304deg,
				rgba(183, 183, 183, 0.05) 0%,
				rgba(183, 183, 183, 0.05) 50%,
				rgba(57, 57, 57, 0.05) 50%,
				rgba(57, 57, 57, 0.05) 100%
			),
			radial-gradient(
				circle at center center,
				hsl(351, 4%, 12%),
				hsl(351, 4%, 12%)
			);
	}

	nav ul {
		padding: 0 10%;
	}

	img {
		float: right;
	}

	#wrapper {
		margin: auto;
		width: 80%;
	}
}
